@model IEnumerable<EFCore___Example.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h2>Courses</h2>

<p>
    <a class="btn btn-success" asp-action="Create"> <i class="fa fa-plus-square" aria-hidden="true"></i> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.CourseID"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.CourseID"> <i class="fa fa-info-circle" aria-hidden="true"></i></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CourseID"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>